  <div class="relative">
  <div class="z-100 gb-bg-color shadow-lg border-b border-[rgb(185,156,55)] flex sticky top-0">
    <div class="w-1/7 flex items-center justify-end">
      <a routerLink="/">
        <img src="IMG/logo/logo_Golden_Break.png" class="w-40" alt="Golden Break Logo">
      </a>
    </div>
    <div class="w-5/7 shrink-0 flex flex-col items-center justify-center">
      <div class="relative w-full flex max-w-3xl">
        <form [formGroup]="searchProductForm" class="flex gap-2 items-center">
          <div class="flex-1 relative">
            <input
              type="text"
              formControlName="q"
              placeholder="¿Qué estás buscando hoy?..."
              class="w-3xl input-buscador px-4 py-3 bg-neutral-800 rounded-l-sm placeholder:italic placeholder:text-gray-300 focus:ring-2 focus:ring-[rgb(185,156,55)] focus:bg-neutral-700 text-lg"
            />
          </div>
          <!--div class="flex gap-2 items-center bg-amber-500">
            <span class="text-sm text-gray-600 hidden md:block">Precio</span>
            <input
              type="number"
              formControlName="minPrice"
              placeholder="Min"
              class="w-20 px-2 py-3 border border-gray-300 focus:ring-2 focus:ring-orange-500 text-sm"
            />
            <span class="text-gray-400">-</span>
            <input
              type="number"
              formControlName="maxPrice"
              placeholder="Max"
              class="w-20 px-2 py-3 border border-gray-300 focus:ring-2 focus:ring-orange-500 text-sm"
            />
          </div-->
        </form>
        <button
          class="bg-[rgb(185,156,55)] input-buscador hover:bg-[rgb(160,127,6)] text-white px-4 py-3 rounded-r-lg cursor-pointer shadow-lg transition-all duration-200">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607z"
            />
          </svg>
        </button>
      </div>
      @if (searchProductForm.get('q')?.value &&
      searchProductForm.get('q')?.value!.length>0) {
      <div class="fixed resultados bg-neutral-700 border border-[rgb(185,156,55)] w-full max-w-3xl flex h-auto">
        <div class="w-full p-4 z-100">
          @if (products$ | async; as products ) {
          <div class="z-100 w-max-full">
            @for (product of products; track $index) {
            <div class="flex w-max-full items-center gap-3 p-2 hover:bg-neutral-600 rounded cursor-pointer">
              <div class="w-30 h-30 bg-gray-200 rounded shrink-0">
                <img
                  [src]="product.imagesUrl"
                  [alt]="product.name"
                  class="w-full h-full object-cover rounded"
                />
              </div>
              <div class="flex-1 min-w-0">
                <h4 class="text-lg text-neutral-50 truncate font-bold">{{product.name}}</h4>
                <p class="text-md text-neutral-50">$ {{product.price}} USD</p>
              </div>
            </div>
            }@empty {
              <div class="text-center py-4 text-neutral-50">
                No se encontraron productos
              </div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
    
    <div class="w-1/7 flex items-center justify-center">
      
    </div>
  </div>
  <nav>
    <ul class="flex space-x-3 bg-neutral-800 max-w-full mx-auto">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/products">Productos</a></li>
      <li><a routerLink="/about">Acerca de</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
    </ul>
  </nav>
</div>