li{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li:hover{
    border: 1px solid rgb(185, 156, 55);
}
.input-buscador{
    height: 50px;
}
.resultados{
    top: 78px;
}