@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%;}
body { 
    margin: 0;
    background-color: #171717;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;
}

.gb-bg-color{
    background-color: #171717;
}
.gb-main-bg-color{
    background-color: rgb(185, 156, 55);
}
.gb-main-bg-color:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid rgb(185, 156, 55);
}
.gb-main-color{
    color: rgb(185, 156, 55);
}
.gb-bg-main-color:hover{
    background-color: rgb(160, 127, 6);
}
.form-shadow {
  box-shadow: transparent 0px 0px 1px 1px;
  transition: all 0.4s ease-in-out;
}
.form-shadow:hover {
  box-shadow: rgb(185, 156, 55) 0px 0px 4px 2px;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  padding: 0.5rem;
}