<div class="text-neutral-50 min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="form-shadow max-w-md w-full rounded-2xl">
    <div class="w-full mb-8 mt-8 flex items-center justify-center">
      <a routerLink="/">
        <img src="/IMG/logo/logo_Golden_Break.png" class="w-40" alt="Logo Golden Break">
      </a>
    </div>
    <form
      (ngSubmit)="handleSubmit()"
      [formGroup]="loginForm"
      class="p-8 rounded-2xl shadow-sm border-neutral-50 space-y-6"
    >
      <div class="text-center">
        <h2 class="text-3xl font-bold">Inicia sesión</h2>
      </div>

      <div class="space-y-5">
        <app-form-field
          label="Email"
          fieldId="email"
          type="email"
          placeholder="Escribe tu email"
          [required]="true"
          [errorMessage]="getErrorMessage('email')"
          formControlName="email"
        >
        </app-form-field>
        <app-form-field
          label="Contraseña"
          fieldId="password"
          type="password"
          placeholder="Escribe tu contraseña"
          [required]="true"
          [errorMessage]="getErrorMessage('password')"
          formControlName="password"
        >
        

        </app-form-field>
      </div>

      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="w-full cursor-pointer bg-[rgb(185,156,55)] text-white py-3.5 px-6 rounded-xl font-semibold text-base hover:bg-[rgb(160,127,6)] focus:outline-none focus:ring-4 focus:ring-blue-100 transition-all duration-200 disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-200"
      >
        <span class="flex items-center justify-center gap-2">
          Entrar
        </span>
      </button>

      <div class="text-center pt-4">
        <a class="font-medium gb-main-color hover:text-blue-700 transition-colors"
          routerLink="/register" 
        
        >
          Crea una cuenta 
        </a>
      </div>
    </form>
  </div>
</div>
