<nav class="navbar sticky-top bg-dark-own border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="/IMG/logo/logo_Golden_Break.png" class="logo_GB" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav bg-dark-own me-auto mb-2 mb-lg-0">
          <li class="nav-item item-dark-own">
            <a class="nav-link active" aria-current="page" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item dropdown item-dark-own">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CUES
            </a>
            <ul class="dropdown-menu bg-dark-own sub-bg-dark-own item">
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/cues/CUETEC">CUETEC</a></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/cues/PREDATOR">PREDATOR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/cues">SEE ALL CUES</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown item-dark-own">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CUE CASES
            </a>
            <ul class="dropdown-menu bg-dark-own sub-bg-dark-own item">
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool cases/CUETEC">CUETEC PRO LINE</a></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool cases/PREDATOR">PREDATOR URBAIN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool cases">SEE ALL CUE CASES</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown item-dark-own">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BILLIARD <br> GLOVES
            </a>
            <ul class="dropdown-menu bg-dark-own sub-bg-dark-own item">
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool gloves/CUETEC">CUETEC AXIS</a></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool gloves/PREDATOR">PREDATOR SECONDSKIN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool gloves">SEE ALL BILLIARD GLOVES</a></li>
            </ul>
          </li>
          <li class="nav-item item-dark-own dropdown">
            <a class="nav-link item-dark-own active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CHALK
            </a>
            <ul class="dropdown-menu bg-dark-own sub-bg-dark-own item">
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/chalks/TAOM">TAOM CHALKS</a></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/chalks/PREDATOR">PREDATOR PURE & 1080</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/chalks">SEE ALL CHALKS</a></li>
            </ul>
          </li>
          <li class="nav-item item-dark-own dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              POOL BALLS
            </a>
            <ul class="dropdown-menu bg-dark-own sub-bg-dark-own item">
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool balls/ARAMITH">ARAMITH BLACC</a></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool balls/PREDATOR">PREDATOR ARCOS II</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="item-down-own"><a class="dropdown-item" routerLink="/products/pool balls">SEE ALL SETS OF BALLS</a></li>
            </ul>
          </li>
        </ul>
        <div class="searchBar">
          <input #msg class="form-control me-2" type="text" (keyup)="onSearch(msg.value)" placeholder="WHAT ARE YOU LOOKING FOR TODAY?">
          <button class="btn-own-style btn-own" (click)="onSearch(msg.value)" type="submit">SEARCH</button>
        </div>
        <div class="myAccount">
          <ul class="navbar-nav bg-dark-own me-auto mb-lg-0">
            <li class="nav-item item-dark-own account-item" routerLink="/cart">
              <i class="fas fa-shopping-cart" style="color: #ffffff;"></i>
              <span class="counter">{{counter()}}</span>
            </li>
            <li class="nav-item item-dark-own account-item">
              <i class="fas fa-user-circle" style="color: #ffffff;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>