<div class="grid gap-8 justify-items-center" 
     [ngClass]="type === 'category' ? 'grid-cols-2 md:grid-cols-4' : 'grid-cols-1 md:grid-cols-3'">
  
  @for (card of cards; track $index) {
    <div class="flex flex-col items-center w-full">
      
      <div [ngClass]="{
        'w-full aspect-square border-2 border-amber-300 cursor-pointer hover:scale-105 shadow-xl': type === 'category',
        'w-24 h-24 md:w-32 md:h-32 border-none': type === 'service'
      }" class="overflow-hidden rounded-lg transition-all duration-300 flex items-center justify-center">
        
        <img [src]="card.img" 
             [alt]="card.title" 
             [ngClass]="{'brightness-0 invert opacity-80': type === 'service'}"
             class="w-full h-full object-contain p-2">
        </div>

      <h3 class="mt-4 text-center text-white tracking-wide uppercase"
          [ngClass]="type === 'service' ? 'text-sm font-semibold' : 'text-lg font-bold w-full py-1'">
        {{card.title}}
      </h3>
      
    </div>
  }
</div>
