<div class="cart-view">
    <h1 class="mb-5">SHOPPING CART <i class="fas fa-shopping-cart" style="color: #ffffff;"></i></h1>
    <div class="cart-container">
        @for (item of datosCart; track $index) {
            <div class="row cartRow-view mb-2">
                <div class="col-md-3 cartThumbnail-view">
                    <img class="cartThumbnail" [src]="item.product.image" [alt]="item.product.name">
                </div>
                <div class="col-md-9 cartRowDetails">
                    <div class="row cartDetails">
                        <div class="col-sm-4">
                            <p class="cartProduct-nm-view">{{item.product.name}}</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="cartProduct-nm-view">{{item.product.price | currency}}</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="cartProduct-nm-view">x {{item.quantity}}</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="cartProduct-nm-view">{{ item.product.price * item.quantity | currency }} </p>
                        </div>
                        <div class="col-sm-2 delete-of-cart">
                            <button class="btn-remove" (click)="removeFromCart(item.product.id)">Remove</button>&nbsp;
                            <button class="btn-add" (click)="addToCart(item.product.id)" [disabled]="item.quantity >= item.product.stock"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (datosCart.length == 0) {
        <div class="not-found">¡Opps, you have not added any products to your cart! </div>
    }
    <div class="cartTotal">
        <h4 class="importe">TOTAL: <span class="total-import">{{ total | currency }} </span></h4>
    </div>
</div>