<div
  class="relative w-full max-w-6xl mx-auto bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 mb-8"
>
  <div class="relative h-64 md:h-80 lg:h-96 overflow-hidden">
    @for(image of images; track $index){
    <div
      class="absolute inset-0 transition-opacity duration-500 ease-in-out"
      [class.opacity-100]="$index === currentIndex"
      [class.opacity-0]="$index !== currentIndex"
    >
      @if (image.loading) {
      <div class="w-full h-full bg-gray-100 flex items-center justify-center">
        <div
          class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600"
        ></div>
      </div>
      } @if (image.loaded) {
      <img
        [src]="image.src"
        [alt]="image.alt"
        class="w-full h-full object-cover"
      />
      } @if(!image.loaded && !image.loading){
      <div
        class="w-full h-full bg-gray-100 flex items-center justify-center"
      ></div>
      }
    </div>
    } @if (showControls) {
    <button
      (click)="prevImage()"
      class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white/80 hover:bg-white text-gray-700 hover:text-gray-700 rounded-full shadow-md transition-all duration-200 hover:scale-110"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>

    <button
      (click)="nextImage()"
      class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white/80 hover:bg-white text-gray-700 hover:text-gray-700 rounded-full shadow-md transition-all duration-200 hover:scale-110"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>

    }
  </div>
</div>
