<div class="details">
    @if (product) {
        <div class="row">
            <div class="col-md-6 imgProduct-container">
                <div class="imgProduct-view">
                    <img [src]="product.image" [alt]="product.name">
                </div>
            </div>
            <div class="col-md-6">
                <h6 class="routeProduct-view">{{ product.category }} > {{ product.subcategory }} > {{ product.brand }}</h6>
                <div class="col-md infoProduct-view">
                    <h1 class="titleProduct-view">{{product.name}}</h1>  
                    <h2 class="priceProduct-view">{{ product.price | currency }} USD</h2>
                    <p class="descProduct-view">{{ product.descripcion }}</p>
                </div>
                <div class="actions">
                    <button class="btn-own-style btn-cart" (click)="addToCart(product.id)">ADD TO CART &nbsp;<i class="fas fa-cart-plus" style="color: #fefefe;"></i></button>
                </div>
            </div>
        </div>
    }
</div>