.banner{
    height: 800px;
}
.slide{
    width: 100%;
}
.center{
    text-align:center;
}
.main{
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}
.welcome-txt{
    color: white;
    font-weight: bold;
}