<footer class="row py-10">
    <div class="col-md-3 logo-footer">
        <a class="navbar-brand" routerLink="/home">
            <img src="/IMG/logo/logo_Golden_Break.png" class="logo_GB_footer" alt="">
        </a>
    </div>
    <div class="col-md-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="ft-title">OUR PRODUCTS</span>
            </li>
            <li class="nav-item mb-2">
                <a href="">HOME</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">CUES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">CUE CASES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">BILLIARD GLOVES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">CHALK</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">POOL BALLS</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="ft-title">CUSTOME SERVICES</span>
            </li>
            <li class="nav-item mb-2">
                <a href="">PRIVACY POLICIES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">SHIPPING POLICIES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">RETURNS POLICY</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">SERVICE POLICIES</a>
            </li>
            <li class="nav-item mb-2">
                <a href="">TERMS & CONDITIONS</a>
            </li>
            <li class="nav-item mb-2">
                <span class="ft-title">CUSTOMER SERVICE</span>
                <p>Mon - Fri: 9am to 6pm <br>
                    Sat: 10am to 2pm <br>
                    Sun closed.  </p>

            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <span class="ft-title">
                    CONTACT US
                </span>
            </li>
            <li class="nav-item">
                <p>HEROE MILITAR #232 <br>AGUASCALIENTES, MX. 20199</p>
            </li>
            <li class="nav-item">
                <p>PHONE: 449-463-1747</p>
            </li>
            <li class="nav-item">
                <p>EMAIL: luisedumr&#64;hotmail.com</p>
            </li>
            <li class="nav-item">
                <span class="strong">
                    <p>goldenbreak.com is always 
                        <br>available 24 hours a day</p>
                </span>
            </li>
            <li class="nav-item">
                <ul class="nav flex">
                    <li class="nav-item social-icon"><i class="fab fa-facebook-square" style="color: #ffffff;"></i></li>
                    <li class="nav-item social-icon"><i class="fab fa-instagram-square" style="color: #ffffff;"></i></li>
                    <li class="nav-item social-icon"><i class="fab fa-tiktok" style="color: #ffffff;"></i></li>
                    <li class="nav-item social-icon"><i class="fab fa-youtube" style="color: #ffffff;"></i></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="copy">
        <h5>2025&copy; ALL RIGHTS RESERVED</h5>
    </div>
</footer>